.selection_rect {
  stroke: black;
  stroke-width: 1px;
  stroke-dasharray: 4px;
  stroke-opacity: 0.9;
  fill: gray;
  fill-opacity: 0.2;
}

.selection_group {

}

.selections_group {

}

.remove_selection_button {
  stroke: gray;
  fill: red;
}

.state {
  stroke: gray;
  fill: white;
}

svg text {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

svg text::selection {
  background: none;
}

.selected_search_field rect {
  stroke: red;
  stroke-width: 1px;
  stroke-dasharray: 4px;
  stroke-opacity: 0.9;
  fill: gray;
  fill-opacity: 0.2;
}
